/*Tic Tac Toe css sheet
Rewrite basic colors to listeners.js for animation
clarity.
*/

body {
	align-items: center;
	text-align: center;
	background-color: white;
}

.center {
	margin-left: auto;
	margin-right: auto;
}



#board tr, td{	
	width: 15px;
	height: 15px;
	margin: 15px 15px 15px 15px;
	border: 1px solid white;
	border-radius: 25%;
	text-align: center;
	font-weight: bold;
	font-size: 35px;
	
	transition-property: border-color, width, height;
	transition-duration: 1s;
	transition-timing-function: ease-in-out;
}

#msgbox {
	border: 1px solid black;
	width: 400px;
	height:100px;
}

button {
	width: 80px;
	height: 25px;
	border-radius: 10%;
}


.up5 {
	margin-top: 5%;
}




